<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xc.baseproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.xc.baseproject.hotpatch.SophixStubApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon,android:allowBackup">
        <activity android:name=".chat.ChatActivity" />

        <meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />

        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".account.github.GithubOauthActivity"
            android:label="@string/oauth_github" />

        <!--aliyun 配置-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="28325271" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="f6bffa000b5f82927d1cab9db9d95be6" />
        <meta-data
            android:name="ALIYUN_MAN_CHANNEL"
            android:value="mainChannel" />
        <!--aliyun END-->

        <!-- aliyun push -->
        <receiver
            android:name="com.xc.baseproject.push.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.xc.baseproject.push.PopupPushActivity"
            android:exported="true" />

        <!-- aliyun push END-->
    </application>

</manifest>